<nav class="border-b border-gray-200 bg-white">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
          <NavMenuItem Href="">Home</NavMenuItem>
          <NavMenuItem Href="journal">Journal</NavMenuItem>
      </div>
    </div>
  </div>
</nav>